<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ActivityFinder</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="../static/main.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <link rel="stylesheet" href="">
        <style>
            .navbar-custom {
                background-color: #FFC342;
            }

            .navbar-custom .navbar-brand,
            .navbar-custom .navbar-text, .nav-link {
                color: #ffffff;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-custom">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">TooMuch</a>
              <form class="d-flex">
                <a class="nav-link" href="/">Forside</a>
                <a class="nav-link" href="/joined">tilmeldninger</a>
                <a class="nav-link" href="/create">Opret</a>
                <a class="nav-link" href="/profile">Profil</a>
                <a class="nav-link" href="/logout">Log ud</a>
              </form>
            </div>
          </nav>
          <form method="post" action="/create" enctype="multipart/form-data">
            <div class="inputfields">
                <label id="beskrivelse" for"beskrivelse">Beskrivelse af varer:</label><br>
                <input type="text" id="beskrivelseinput" name="beskrivelse" placeholder="">
                <br>
                <label id="udløbsdato" for"udløbsdato">Udløbsdato:</label><br>
                <input type="text" id="udløbsdatoinput" name="udløbsdato" placeholder="">
                <br>
                <label id="lokation" for"lokation">lokation:</label><br>
                <input type="text" id="lokationinput" name="lokation" placeholder="">
                <br>
                <input id="submit_button" type="submit" value="Opret">
            </div>
        </form>
        
        <script src="" async defer></script>
    </body>
</html>